/**
 * text-highlighter.component.scss
 *
 *  Custom set of rules for selected component.
 *
 */
@import '../../../variables.scss';

.container {
  .my-blue, .my-orange {
    color: white;
    padding: 5px;
    font-size: 130%;
  }

  .my-orange {
    background-color: $my-orange;
  }

  .my-blue {
    background-color: $my-blue;
  }
}
